[Unit]
Description=Podman  postgres-app.service
BindsTo=mattermost.service
Before=mattermost-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/postgres-app.pid %t/postgres-app.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/postgres-app.pid \
    --cidfile %t/postgres-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/mattermost.pod-id --replace -d --name  postgres-app \
    --volume postgres-data:/var/lib/postgresql/data:Z \
    --env POSTGRES_USER=mmuser \
    --env POSTGRES_PASSWORD=mmuser_password \
    --env POSTGRES_DB=mattermost \
    --env TZ=UTC \
    ${POSTGRES_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/postgres-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP postgres-app
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/postgres-app.ctr-id
PIDFile=%t/postgres-app.pid
Type=forking

[Install]
WantedBy=default.target
